# Dependencies
node_modules

# Build artifacts
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.production

# IDEs and editors
.idea
.vscode
*.swp

# OS metadata
.DS_Store
Thumbs.db

# Tests
coverage

# Temporary files
tmp
temp

# Misc
.git
.gitignore
README.md
LICENSE